body {
    margin: 0;
    padding: 0;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    background: #333;
    border-radius: 10px;
}
